@use 'styles/variables' as *;

.placeholder {
  padding: 48px 32px;
  text-align: center;

  .title {
    margin: 0 0 16px;
    font-size: 24px;
    font-weight: 700;
    color: $text-primary;
  }

  .text {
    margin: 0;
    color: $text-secondary;
  }
}
